- content_for :title do
  Benjamin Harris Creative
  
.sectionTitle.noBorder
  demoREEL
.demoReel
  %iframe{ src: "http://player.vimeo.com/video/47149681", width: "500", height: "281", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true }
.sectionTitle
  recentVIDEOS
.recentVideos
.sectionTitle
  recentBLOGS
.recentBlogs