- content_for :title do
  Benjamin Harris Creative
  
.sectionTitle 
  .container demoREEL
.demoReel
.sectionTitle
  .container recentVIDEOS
.recentVideos
.sectionTitle
  .container recentBLOGS
.recentBlogs