.container
  .videoContainer
    .video.firstInRow
      %iframe{src: add_vimeo_params("http://player.vimeo.com/video/23220210"), width: "306", height: "171", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}
      .descriptionTitle
        My Converse
    .video
      %iframe{src: add_vimeo_params("http://player.vimeo.com/video/32883090"), width: "306", height: "171", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}
      .descriptionTitle
        That Christmas Feeling
    .video
      %iframe{src: add_vimeo_params("http://player.vimeo.com/video/27652652"), width: "306", height: "171", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}
      .descriptionTitle
        Behind The Mic: The Art of Voice Acting
    .video.firstInRow
      %iframe{src: add_vimeo_params("http://player.vimeo.com/video/23218540"), width: "306", height: "171", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}
      .descriptionTitle
        Coke: The Filmmakers Fuel
    .video
      %iframe{src: add_vimeo_params("http://player.vimeo.com/video/26278360"), width: "306", height: "171", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}
      .descriptionTitle
        Once More Into The Breech
    .clear