.sectionTitle
  video
.video
  .left
    %iframe{src: "http://player.vimeo.com/video/23220210", width: "500", height: "281", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}
    %iframe{src: "http://player.vimeo.com/video/32883090", width: "500", height: "281", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}
    %iframe{src: "http://player.vimeo.com/video/27652652", width: "500", height: "281", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}
    %iframe{src: "http://player.vimeo.com/video/23218540", width: "500", height: "281", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}
    %iframe{src: "http://player.vimeo.com/video/26278360", width: "500", height: "281", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}
  .right
    .videoDescription
      .descriptionTitle
        My Converse
      .description
    .videoDescription
      .descriptionTitle
        That Christmas Feeling
      .description
    .videoDescription
      .descriptionTitle
        Behind The Mic: The Art of Voice Acting
      .description
    .videoDescription
      .descriptionTitle
        Coke: The Filmmakers Fuel
      .description
    .videoDescription
      .descriptionTitle
        Once More Into The Breech
      .description    
  .clear