$lightGrey: #97999D;
$mediumGrey: #595B5D;
$darkGrey: #2F2F2F;
$offwhite: #EFEFEF;
$hoverBlue: #88A1B7;
$outlineColor: #BBB;
$mediumDarkText: #888;
$secondary_font_family: Futura, Helvetica;

/* Mixins */
@mixin box_shadow($xOffset: 0, $yOffset: 0, $blur: 15px, $color: #222) {
  -webkit-box-shadow: $xOffset $yOffset $blur $color;
  -moz-box-shadow: $xOffset $yOffset $blur $color;
  box-shadow: $xOffset $yOffset $blur $color;
}

@mixin border_radius($radius: 2px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($element, $time: 0.5s) {
  -webkit-transition: $element $time;
  -moz-transition: $element $time;
  -ms-transition: $element $time;
  -o-transition: $element $time;
  transition: $element $time;
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

i {
  position: relative;
  top: 2px;
}

body.admin {
  form {
    label {
      width: 200px;
      font-size: 17px;
      margin-top: 9px;
    }
    .submit {
      margin-left: 220px;
    }
  }
  .header {
    background: $darkGrey;
    height: 83px;
    color: $mediumDarkText;
    a {
      @include transition(none, 0);
    }
    .logo {
      width: 163px;
      height: 64px;
      background: url(ben_logo_163x64.png);
    }
    .colorLogo {
      background: 0;
    }
    .nav {
      top: 25px;
      background: 0;
      li.link {
        font-size: 20px;
        margin-right: 20px;
        padding-right: 20px;
        border-right: 1px solid #555;
      }
      .dropdown-toggle {
        font-size: 20px;
      }
      .dropdown-menu a {
        @include transition(none, 0);
        color: #333;
        &:hover {
          color: white;
        }
      }
    }
    .right {
      margin-top: 70px;
      font-size: 50px;
      margin-right: 150px;
    }
  }
  .content {
    margin: 20px 0;
  }
  .centerText {
    text-align: center;
  }
  .largeText {
    font-size: 40px;
    margin-top: 20px;
  }
  .formContainer {
    padding: 20px;
    background: white;
    border: 1px solid #DDD;
    @include border_radius(2px);
    .formHeader {
      font-size: 30px;
      text-align: center;
      border-bottom: 1px solid #DDD;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
  }
  .formContainer.largeForm {
    label {
      width: 100px;
    }
    input[type=text] {
      width: 400px;
    }
    textarea {
      height: 300px;
      width: 700px;
    }
    .submit {
      margin-left: 120px;
    }
    .submit.marginLeft10 {
      margin-left: 10px;
    }
    &.videoForm {
      label {
        width: 200px;
        &.urlLabel {
          font-size: 89%;
        }
      }
      input[type=checkbox] {
        position: relative;
        top: 8px;
        margin-bottom: 20px;
      }
      .submit {
        margin-left: 220px;
      }
    }
  }
  .videos {
    margin: 20px 0;
    .video {
      margin: 0 20px 20px 0;
      .videoThumbnail {
        height: 171px;
        overflow: hidden;
      }
      .title {
        max-width: 295px;
        padding-left: 10px;
        margin-top: 5px;
        border-left: 2px solid $darkGrey;
      }
    }
    .video.last {
      margin-right: 0
    }
  }
  .videoTitle {
    font-size: 30px;
    text-shadow: 1px 1px #FFF;
    margin: 20px 0; 
  }
  .videoDescription {
    margin-top: 20px;
    font-size: 20px;
  }
  table.videos {
    td {
      padding: 5px 10px;
      border-right: 1px solid $outlineColor;
      font-size: 13px;
    }
    td:last-child {
      border-right: 0;
    }
    td.tableHeader {
      border-bottom: 1px solid $outlineColor;
      padding-bottom: 10px;
      span.text {
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
  .push {
    height: 50px;
  }
  .footer {
    background: $darkGrey;
    height: 30px;
    margin-top: -50px;
    text-align: center;
    font-size: 12px;
    color: $mediumDarkText;
  }
}

