$lightGrey: #97999D;
$mediumGrey: #595B5D;
$darkGrey: #2F2F2F;
$offwhite: #EFEFEF;
$hoverBlue: #88A1B7;
$outlineColor: #BBB;
$secondary_font_family: Futura, Helvetica;

/* Mixins */
@mixin box_shadow($xOffset: 0, $yOffset: 0, $blur: 15px, $color: #222) {
  -webkit-box-shadow: $xOffset $yOffset $blur $color;
  -moz-box-shadow: $xOffset $yOffset $blur $color;
  box-shadow: $xOffset $yOffset $blur $color;
}

@mixin border_radius($radius: 2px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($element, $time: 0.5s) {
  -webkit-transition: $element $time;
  -moz-transition: $element $time;
  -ms-transition: $element $time;
  -o-transition: $element $time;
  transition: $element $time;
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
}



/* General Styles */
body {
  background: $offwhite;
  font-family: 'Helvetica Neue', serif
}
ol {
  margin: 0 0 20px 20px;
  padding-left: 20px;
  li {
    margin-bottom: 5px;
  }
}
.left {
  float: left;
}
.right {
  float: right;
}
.relativePosition {
  position: relative;
}
.clear {
  clear: both;
}
.container { 
  width: 960px;
  margin: 0 auto;
}

.spacer {
  border-bottom: 1px solid $outlineColor;
  width: 100%;
}

iframe {
  display: block;
}
iframe.center {
  margin: 0 auto;
}
.bar {
  background: $darkGrey;
  width: 100%;
}
.bar.small {
  height: 6px;
}

/* Form styling */
form {
  input[type=text], input[type=password], textarea {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    @include border_radius(2px);
    border: 1px solid #AAA;
  }
  textarea {
    width: 500px;
    height: 150px;
  }
  .input {
    margin-bottom: 10px;
  }
  .submit {
    margin-left: 165px;
  }
  label {
    display: block;
    width: 145px;
    text-align: right;
    margin: 0 20px 0 0;
    float: left;
    font-size: 20px;
    span.required {
      color: red;
    }
  }
}

/* Positioning */
.top10 {
  top: 10px;
}
.top3 {
  top: 3px;
}
.bottom10 {
  bottom: 10px;
}
.marginTop5 {
  margin-top: 5px;
}
.marginTop20 {
  margin-top: 20px;
}
.marginRight10 {
  margin-right: 10px;
}
.marginRight20 {
  margin-right: 20px;
}

/* Header styles */
.header {
  border-left: 1px solid $outlineColor;
  border-right: 1px solid $outlineColor;
  color: $lightGrey;
  .logo, .colorLogo {
    margin: 10px 0 10px 10px;
    width: 412px;
    height: 160px;
    background: url(ben_logo_412x160.png);
    background-repeat: no-repeat;
  }
  .logo {
    background-position: 0px 0px;
  }
  .colorLogo {
    margin: 2px 0 0;
    background-position: 0px -157px;
    opacity: 0;
    @include transition(opacity);
    &:hover {
      opacity: 1;
    }
  }
  a {
    @include transition(color);
    color: $lightGrey;
    text-decoration: none;
    &:hover {
      color: $hoverBlue;
    }
  }
  ul.menu {
    list-style-type: none;
    margin-bottom: 0;
    padding-bottom: 0;
    li {
      display: inline-block;
      padding: 10px;
      border-top: 2px solid $offwhite;
      @include transition(border);
      &:hover {
        border-top: 2px solid $darkGrey;
      }
      a {
        font-size: 30px;
        font-weight: 500;
        margin-top: 10px;
        text-shadow: 1px 1px #FFF;
      }
    }
  }
  .nav {
    background: $offwhite;
    position: relative;
    top: 120px;
    display: block;
    margin: 0;
  } 
}

/* Content styles */
.sectionTitle {
  font-size: 30px;
  padding: 40px 0 20px;
  text-shadow: 1px 1px #FFF;
}
.sectionTitle.noBorder {
  border: 0;
}
.recentBlogs {
  height: 300px;
}
.recentVideos {
  margin-bottom: 20px;
  .left:first-child {
    margin-right: 20px;
  }
}
.demoReel {
  padding: 20px 0;
}
.statement {
  margin-bottom: 20px;
  p {
    margin: 40px 0 20px;
    font-size: 42px;
    font-weight: 700;
    text-shadow: 2px 2px #FFF;
  }
}
.viewWork, .readMore {
  font-size: 25px;
  a {
    color: $lightGrey;
    @include transition(color);
    @include transition(border);
    display: inline-block;
    padding-top: 10px;
    border-top: 2px solid $offwhite;
    text-shadow: 1px 1px #FFF;
    &:hover {
      color: $hoverBlue;
      text-decoration: none;
      border-top: 2px solid $darkGrey;
    }
  }
}
.blog {
  padding: 20px 0;
  border-bottom: 1px solid $outlineColor;
  margin-bottom: 20px;
}
.blog.noBorder {
  border-bottom: 0;
}
.blogTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.createdAt {
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: #888;
}
p {
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 20px;
}
p.small {
  font-size: 14px;
}
.img.left {
  margin: 0 20px 10px 0;
}
.img.right {
  margin: 0 0 10px 20px;
}
.recentBlog {
  padding: 20px 0;
  .readMore {
    margin-top: 20px;
  }
}
.videoContainer {
  margin-top: 30px;
  .video {
    float: left;
    margin-left: 20px;
    iframe {
      margin: 10px 0 ;
      display: inline;
    }
  }
  .video.firstInRow {
    margin-left: 0;
  }
  .descriptionTitle {
    font-family: $secondary_font_family;
    border-left: 2px solid $darkGrey;
    width: 296px;
    margin-bottom: 40px;
    padding-left: 8px;
  }
}
.clients {
  margin-bottom: 20px;
  .client {
    font-size: 20px;
    margin: 0 10px 10px;
  }
  .other {
    margin: 20px 0;
    font-size: 25px;
    text-shadow: 1px 1px #FFF;
  }
}
.contactForm {
  padding: 20px 0;
}
.social {
  margin-top: 20px;
  a {
    margin-right: 10px;
  }
}

/* Footer Styles */
.footer {
  margin-top: -166px;
  height: 146px;
  color: $offwhite;
  background: $darkGrey;
  padding-top: 20px;
  clear: both;
  a {
    color: $lightGrey;
    border-bottom: 2px solid $darkGrey;
    @include transition(color);
    @include transition(border, 0.3s);
    &:hover {
      border-bottom: 2px solid $hoverBlue;
      color: $hoverBlue;
      text-decoration: none;
    }
  }
  .social a {
    border: 0;
  }
  .contact, .friends {
    margin-right: 50px;
  }
  .contact, .friends, .followMe {
    span.title {
      font-size: 22px;
      line-height: 22px;
      font-weight: 200;
    }
  }
  .contact {
    .body {
      margin-top: 20px;
      .item {
        margin-bottom: 15px;
      }
    }
  }
  .friends {
    ul {
      list-style-type: none;
      padding-top: 20px;
      font-weight: 200;
      li {
        margin-bottom: 15px;
      }
    }
  }
  .copyright {
    font-weight: 200;
    font-size: 12px;
    padding: 20px 0 10px;
    text-align: center;
    color: $lightGrey;
  }
}

.push {
  clear: both;
  height: 166px;
}
.wrapper {
  min-height: 100%;
}