.footer
  .container
    / .bio.left
    /   = image_tag 'ben.jpg', class: 'left'
    /   %span.title.clear hi. im benjamin
    /   %span.body
    /     %p
    /       Graduating from the Art Institute of Colorado in the summer of 2012 with a BA in Digital Filmmaking
    /       and Video Production. I'm a do-it-all guy who does everything from the editing, graphics, shoots
    /       collaborating, with clients and everything in between.
    /     %br
    /     %p
    /       With a wide range of experience in everything from crewing a feature film in the summer of 2011,
    /       or the exciting world of online commercial based content, Ben is in the business of blowing minds...
    /       %br
    /       and business is good.
    /     %br
    /     %p
    /       Pushing the boundaries of creativity is where Ben's passion is. When you drop in to visit, you'll
    /       probably find Ben reading, researching, or dreaming up new and fun ways of creating awesome videos.

    .contact.left
      %span.title.clear contact me
      .body
        .item= mail_to 'ben@benjaminharriscreative.com', 'ben@benjaminharriscreative.com'
        .item 970.397.9123
    .friends.left
      %span.title.clear friends
      %ul
        %li jerelMILLER (web developer)
        %li josiahMOTHERSHED (graphics designer)

    .followMe.left
      %span.title.clear follow me
      .social
        = link_to image_tag('f_logo.png'), 'http://www.facebook.com/benjamin.harris.547', target: '_blank'
        = link_to image_tag('Vimeo-Mobile-App-Icon.png'), 'http://www.vimeo.com/benjaminharris', target: '_blank'
    .clear
  .copyright &copy; 2012 Benjamin Harris; All Rights Reserved
  .clear