.footer
  .container
    .contact.left
      %span.title.clear contact me
      .body
        .item= mail_to 'ben@benjaminharriscreative.com', 'ben@benjaminharriscreative.com'
        .item 970.397.9123
    .friends.left
      %span.title.clear friends
      %ul
        %li jerelMILLER (web developer)
        %li josiahMOTHERSHED (graphics designer)

    .followMe.left
      %span.title.clear follow me
      .social
        = link_to image_tag('f_logo.png'), 'http://www.facebook.com/benjamin.harris.547', target: '_blank'
        = link_to image_tag('Vimeo-Mobile-App-Icon.png'), 'http://www.vimeo.com/benjaminharris', target: '_blank'
    .clear
  .copyright &copy; 2012 Benjamin Harris; All Rights Reserved
  .clear