.bar.small
.container
  .header
    = link_to root_path do
      .logo.left
        .colorLogo
    .nav.right
      %ul.menu.right
        %li= link_to 'blog', blog_path
        %li= link_to 'video', videos_path
        %li= link_to 'contact', contact_index_path
    .clear